@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 18, 18, 18;
  --foreground-rgb: 255, 255, 255;
  --foreground2-rgb: 148, 148, 148;
  --theme-rgb: 132, 62, 234;
  --theme2-rgb: 207, 93, 201;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 18, 18, 18;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  padding: 50px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.themeGradient {
  background: linear-gradient(
    45deg,
    rgb(var(--theme-rgb)),
    rgb(var(--theme2-rgb))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chooseModeButton {
  background: linear-gradient(
    45deg,
    rgb(var(--theme-rgb)),
    rgb(var(--theme2-rgb))
  );
  padding: 10px 20px;
  border-radius: 10px;
  text-shadow: 0px 0px 2px white;
  transition-duration: 0.2s;
}
.guessInput {
  outline: none;
  margin: 10px;
  padding: 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: 3px solid white;
}
.guessInputCover {
  outline: none;
  margin: 10px;
  padding: 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: 3px solid white;
}
.raperHints {
  background-color: transparent;
  border: 3px solid white;
  margin: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.albumsHints {
  background-color: transparent;
  border: 3px solid white;
  margin: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.streakText {
  position: absolute;
  color: white;
  text-shadow: 0px 0px 5px black;
}
.albumsHints {
  background-color: transparent;
  border: 3px solid white;
  margin: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.guessedInfo {
  margin: 5px;
  border-radius: 20px;
  border: 1px solid white;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 2px black;
  opacity: 0;
  /* animation: 0.5s fadeIn 0s ease-in-out forwards; */
}
.mainInfoGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.attemptsLeft {
  margin: 5px;
  border-radius: 20px;
  border: 1px solid white;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 2px black;
  opacity: 1;
}

.filterImage {
  border-radius: 12px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.correct {
  border: 3px solid rgb(2, 128, 6);
  background-color: rgba(0, 246, 0, 0.5);
}
.incorrect {
  border: 3px solid rgb(128, 2, 2);
  background-color: rgb(255, 0, 0, 0.5);
}
.middle {
  border: 3px solid rgb(128, 97, 2);
  background-color: rgba(255, 174, 0, 0.5);
}
.categorie {
  margin: 5px;
  border-bottom: 3px solid white;
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
}
.streakFire {
  height: 90px;
  width: 90px;
}

.blurbg {
  opacity: 0;
  z-index: 99;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.353);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.alertInfo {
  position: relative;
  /* padding: 20px 100px; */
  border-radius: 20px;

  box-shadow: 0px 0px 10px 10px black, 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 50px; */
  font-weight: 800;
  text-shadow: 0px 0px 2px white;
}
.winAlert {
  border: 3px solid rgb(2, 128, 4);
  background-color: rgba(0, 255, 51, 0.205);
}
.loseAlert {
  border: 3px solid rgb(128, 2, 2);
  background-color: rgba(255, 0, 0, 0.294);
}
#buttonCloseAlert {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
  top: 0;
  right: 0;
  /* height: 50px;
  width: 50px; */
  text-shadow: 0px 0px 2px white;
  background-color: rgb(255, 0, 0, 0.5);
  box-shadow: -5px 5px 10px rgba(255, 0, 0, 0.288);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.infoTip {
  position: absolute;
  text-align: center;
  bottom: 50px;
  /* background-color: rgb(34, 34, 34); */
  background: linear-gradient(0deg, rgb(124, 11, 237), transparent);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
  flex-grow: 1;
}
.infoTip::after {
  z-index: -1;
  position: absolute;
  content: "";
  background: linear-gradient(-45deg, rgb(124, 11, 237) 40%, transparent 50%);
  bottom: -7px;
  padding: 10px;
  border-radius: 5px;

  width: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(45deg);
}
.whiteGlow {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.518);
}

.tryby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tryb {
  display: flex;
  flex-direction: column;
}

.rulesTextH2 {
  padding: 20px;
}
.rulesTextH3 {
  margin-bottom: 10px;
}

.labelsText {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  white-space: normal;
  overflow: hidden;
  overflow-x: scroll;
}
.labelsText::-webkit-scrollbar {
  height: 10px;
  scroll-snap-type: mandatory;
}
.labelsText::-webkit-scrollbar-track {
  /* background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset; */
  background-color: transparent;
  border-radius: 20px;
}
.labelsText::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  /* box-shadow: 0px 0px 5px black; */
  border-radius: 20px;
}

#cc-main {
  --cc-bg: rgb(var(--background-color));
  --cc-primary-color: rgb(var(--foreground-rgb));
  --cc-secondary-color: rgb(var(--foreground2-rgb));

  --cc-btn-primary-bg: linear-gradient(
    45deg,
    rgb(var(--theme-rgb)),
    rgb(var(--theme2-rgb))
  );
  --cc-btn-primary-color: rgb(var(--foreground-rgb));
  --cc-btn-primary-border-color: none;
  --cc-btn-primary-hover-bg: linear-gradient(
    45deg,
    rgb(var(--theme-rgb)),
    rgb(var(--theme2-rgb))
  );
  --cc-btn-primary-hover-color: rgb(var(--foreground-rgb));

  --cc-toggle-on-bg: var(--cc-btn-primary-bg);

  --cc-btn-border-radius: 10px;

  --cc-footer-bg: black;
}
#cc-main,
#cc-main .cm,
#cc-main .pm {
  --cc-modal-transition-duration: 1s;
}

@media not all and (min-width: 768px) {
  .guessInputCover {
    width: 80%;
  }
  .albumsHints {
    width: 80%;
  }
  .albumsHints {
    width: 80%;
  }
  .categorie {
    width: 40px;
    height: 30px;
    font-size: 10px;
  }
  .guessedInfo {
    width: 40px;
    height: 40px;
    font-size: 50%;
    border-radius: 10px;
  }
  .labelsText {
    font-size: 50%;
    line-height: 10px;
  }
  .attemptsLeft {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  .streakFire {
    height: 70px;
    width: 70px;
  }

  .streakFire .labelsText::-webkit-scrollbar {
    display: none;
  }
  .labelsText::-webkit-scrollbar-track {
    display: none;
  }
  .labelsText::-webkit-scrollbar-thumb {
    display: none;
  }
  .labelsText {
    overflow-x: scroll;
  }
}
