@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: 18, 18, 18;
  --foreground-rgb: 255, 255, 255;
  --foreground2-rgb: 148, 148, 148;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: 18, 18, 18;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  padding: 50px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guessInput {
  outline: none;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border: 3px solid white;
}
.raperHints {
  background-color: transparent;
  border: 3px solid white;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
.guessedInfo {
  margin: 5px;
  border-radius: 20px;
  border: 1px solid white;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 2px black;
  opacity: 0;
  /* animation: 0.5s fadeIn 0s ease-in-out forwards; */
}

.correct {
  border: 3px solid rgb(2, 128, 6);
  background-color: rgba(0, 246, 0, 0.5);
}
.incorrect {
  border: 3px solid rgb(128, 2, 2);
  background-color: rgb(255, 0, 0, 0.5);
}
.middle {
  border: 3px solid rgb(128, 97, 2);
  background-color: rgba(255, 174, 0, 0.5);
}
.categorie {
  margin: 5px;
  border-bottom: 3px solid white;
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
}
.blurbg {
  opacity: 0;
  z-index: 99;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.353);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.alertInfo {
  position: relative;
  padding: 20px 100px;
  border-radius: 20px;

  box-shadow: 0px 0px 10px 10px black, 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 800;
  text-shadow: 0px 0px 2px white;
}
.winAlert {
  border: 3px solid rgb(2, 128, 4);
  background-color: rgba(0, 255, 51, 0.205);
}
.loseAlert {
  border: 3px solid rgb(128, 2, 2);
  background-color: rgba(255, 0, 0, 0.294);
}
#buttonCloseAlert {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  text-shadow: 0px 0px 2px white;
  background-color: rgb(255, 0, 0, 0.5);
  box-shadow: -5px 5px 10px rgba(255, 0, 0, 0.288);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.infoTip {
  position: absolute;
  text-align: center;
  bottom: 50px;
  /* background-color: rgb(34, 34, 34); */
  background: linear-gradient(0deg, rgb(124, 11, 237), transparent);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
  flex-grow: 1;
}
.infoTip::after {
  z-index: -1;
  position: absolute;
  content: "";
  background: linear-gradient(-45deg, rgb(124, 11, 237) 40%, transparent 50%);
  bottom: -7px;
  padding: 10px;
  border-radius: 5px;

  width: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(45deg);
}
.whiteGlow {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.518);
}
